@import url('/css/variables.css');

.nav {
    width: 100vw;
    position: relative;
    height: 3rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: .1rem solid rgba(11, 124, 158, 0.31);
    padding: 0 2rem;
}

.nav .logo-text .top {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav .logo-text .top .logo {
    text-decoration: none;
    background-color: var(--second-color);
    color: var(--white);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: .2rem;
    border-color: var(--white);
    border-style: dashed;
    border-radius: 41% 59% 43% 57% / 52% 46% 54% 48% ;
}

.nav .logo-text .top .logo i {
    transform: rotate(-80deg);
}

.nav .logo-text .top .text {
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}

.nav .logo-text .top .text span {
    color: var(--second-color);
    font-weight: 600;
    font-family: 'Lumixia';
}

footer {
    width: 100vw;
    min-height: 3rem;
    overflow-x: clip;
    color: var(--black-1);
    font-family: 'Montserrat';
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

footer .footer-bottom {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-top: .1rem solid var(--grey);
}

footer .footer-bottom ul {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
    font-size: .8rem;
}

footer .footer-bottom ul li a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}
