@import url("/css/variables.css");

footer {
    width: 100vw;
    min-height: 70vh;
    overflow-x: clip;
    color: var(--black-1);
    font-family: 'Montserrat';
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

footer .footer-bar {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-flow: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    border-top: .1rem solid var(--grey);
    border-bottom: .1rem solid var(--grey);
    padding: 1rem 0;
}

footer .footer-bar .logo-caption {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

footer .footer-bar .logo-caption .logo {
    text-decoration: none;
    background-color: var(--second-color);
    color: var(--white);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: .2rem;
    border-color: var(--white);
    border-style: dashed;
    border-radius: 41% 59% 43% 57% / 52% 46% 54% 48% ;
    filter: drop-shadow(0px 0px 20px #0000007a);
}

footer .footer-bar .logo-caption .logo i {
    transform: rotate(-80deg);
}

footer .footer-bar .logo-caption .caption {
    font-size: .8rem;
    font-weight: 600;
}

footer .footer-bar .card {
    font-size: .8rem;
    font-weight: 500;
    border-left: .1rem solid var(--grey);
    padding-left: 1rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

footer .footer-bar .card span .bi {
    font-size: 1rem;
    line-height: .8rem;
    filter: drop-shadow(0px 0px 2px #0b7b9e);
}

footer .main-footer {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 11.5rem);
    grid-template-rows: minmax(150px auto);
    grid-gap: 1rem;
    align-items: start;
    justify-content: center;
    padding: 0;
    border-bottom: .1rem solid var(--grey);
    padding: 1rem 0;
}

footer .main-footer h1 {
    font-size: 1rem;
    color: var(--second-color);
    padding-bottom: 1rem;
}

footer .main-footer ul {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

footer .main-footer ul li {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: start;
    gap: 5px;
    transform: translateX(-1.3rem);
    list-style-type: none;
    font-size: .8rem;
    font-weight: 500;
    cursor: pointer;
}

footer .main-footer ul li:hover {
    transform: translateX(10px);
}

footer .main-footer ul li .dash {
    background-color: var(--second-color);
    height: .3rem;
    width: 1rem;
    border-radius: 10px;
    visibility: hidden;
}

footer .main-footer ul li:hover .dash {
    visibility: visible;
}


footer .main-footer ul li a {
    text-decoration: none;
    color: var(--black);
}

footer .main-footer ul li a:hover {
    color: var(--black);
}

footer .main-footer .connect ul {
    flex-flow: row;
}

footer .main-footer .connect ul li {
    transform: translateX(-1rem);
    font-size: 1.5rem;
}

footer .main-footer .connect ul li:hover a {
    color: var(--second-color);
    transform: translateY(5px);
}

footer .footer-bottom {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

footer .footer-bottom ul {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
    font-size: .8rem;
}

footer .footer-bottom ul li a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}

footer .footer-bottom ul .fb-half {
    display: flex;
    flex-flow: row;
    gap: 7px;
}

footer .footer-bottom ul .fb-half li a {
    color: var(--second-color);
    opacity: .7;
}

footer .footer-bottom ul .fb-half li a:hover{
    text-decoration: underline;
    text-decoration-style: dashed;
    opacity: 1;
}