@import url("/css/responsive.min.css");

@font-face {
    font-family: 'lumixia';
    src: url('/assets/fonts/Lumixia\ Thin.otf');
}

:root {
    font-family: 'Montserrat', 'Lumixia' sans-serif;
    --secondary-color: #00447c;
    --second-color: #0b7b9e;
    --bg-color: #f2f3f4;
    --grey: #c6c3b6;
    --black: #0c0c0c;
    --white: #fff;
    scroll-behavior: smooth;
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

*, *::after, *::before {
    margin: 0; padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
}

::selection {
    background: var(--second-color);
    color: var(--white);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: var(--second-color);
}

body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow-x: clip;
    color: var(--black-1);
    font-family: 'Montserrat';
}

main {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
}

section {
    width: 100vw;
    position: relative;
    display: flex;
    margin: 0 0 2rem 0;
    align-items: center;
    justify-content: center;
}

.logo {
    text-decoration: none;
    background-color: var(--second-color);
    color: var(--white);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: .2rem;
    border-color: var(--white);
    border-style: dashed;
    border-radius: 41% 59% 43% 57% / 52% 46% 54% 48%;
}

.logo i {
    transform: rotate(-80deg);
}

.text {
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 600;
}

.text span {
    color: var(--second-color);
    font-weight: 600;
    font-family: 'Lumixia';
    letter-spacing: 2px;
}
